* {
  padding: 0;
  margin: 0;
}
html {
  background-color: aliceblue;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  border: 5px solid black;
}

p {
  line-height: 1.5;
}
li {
  padding: 3px;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}
a:hover {
  color: lightslategray;
}
a:active {
  color: coral;
}

#product_header {
  position: relative;
  background-color: rgba(227, 227, 227, 0.533);
  padding: 15px 0;
}

#sale-tag {
  position: absolute;
  top: -20px;
  left: -35px;
  background-color: rgb(162, 5, 5);
  color: white;
  text-align: center;
  padding: 5px 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.589);
}

#product_name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product_display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
}
#display_info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
}

#display_info .link {
  color: black;
  padding-top: 10px;
  text-decoration: underline;
}

#product_img {
  width: 25%;
  max-width: 800px;
}

#price-card {
  margin-bottom: 15px;
}

#price {
  font-weight: bolder;
}

#price-details {
  color: rgb(121, 121, 121);
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

#color-swatch {
  margin: 15px 0;
  width: 50%;
  display: flex;
  gap: 5px;
}

#color-swatch span {
  padding: 8px;
  border: 1px inset rgba(0, 0, 0, 0.434);
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.301);
}

#black {
  background-color: black;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#brown {
  background-color: brown;
}

#product_details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#product_details h2 {
  margin-bottom: 20px;
}
#product_details ul {
  margin: 0 20px;
}

#product_details button {
  width: 100%;
  color: aliceblue;
  font-weight: 900;
  align-self: center;
  border: none;
  background-color: black;
  margin-top: 25px;
  padding: 10px 0;
  cursor: pointer;
}
